<h1>Thingy Security</h1>

<div>
  <a href="javascript:void(0)" (click)="registerThingy()">
    <button>Register Thingy</button>
  </a>
  <div>
    {{ registerThingyMessage }}
  </div>
</div>

<div>
  Activate alarm:
  <a href="javascript:void(0)" (click)="changeAlarm()">
    <label class="switch">
      <input type="checkbox" [checked]="user.alarm">
      <span class="slider round"></span>
    </label>
  </a>
</div>

<div>
  Time before alarm activation: {{ user.alarmDelay }} seconds
  <form [formGroup]="delayForm" role="form" name="dForm" novalidate="" (submit)="submitDelayForm($event, delayForm.value)">
      <div>
        <input id="exampleInputEmail1" type="number" name="alarmDelay" placeholder="Enter delay" autocomplete="off" formControlName="alarmDelay" required="" />
          <div class="text-danger" *ngIf="delayForm.controls['alarmDelay'].hasError('required') && (delayForm.controls['alarmDelay'].dirty)">This field is a number</div>
        <button type="submit" [disabled]="!delayForm.valid">Change</button>
      </div>
  </form>
</div>

<div>
  Activate email alert:
  <a href="javascript:void(0)" (click)="changeEmailAlert()">
    <label class="switch">
      <input type="checkbox" [checked]="user.emailAlert">
      <span class="slider round"></span>
    </label>
  </a>
</div>

<div>
  Activate images capture:
  <a href="javascript:void(0)" (click)="changeImagesCapture()">
    <label class="switch">
      <input type="checkbox" [checked]="user.imagesCapture">
      <span class="slider round"></span>
    </label>
  </a>
</div>
