<div class="row">
  <div class="col-md-6">
    <!-- START card-->
    <div class="card card-default">
      <div class="card-header">Change password</div>
      <div class="card-body">
        <form [formGroup]="passForm" class="form-validate mb-3" role="form" name="changepwForm" novalidate="" (submit)="submitForm($event, passForm.value)">
          <div class="form-group">
            <label>Old password</label>
            <input class="form-control" type="password" name="oldpassword" placeholder="Password" formControlName="oldpassword" />
          </div>
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <label>New Password</label>
              <input class="form-control" type="password" name="password" placeholder="Password" formControlName="password" [formControl]="passForm.get('password')" />
              <div class="text-danger" *ngIf="passForm.get('password').hasError('required') && (passForm.get('password').dirty || passForm.get('password').touched)">This field is required</div>
              <div class="text-danger" *ngIf="passForm.get('password').hasError('pattern') && (passForm.get('password').dirty || passForm.get('password').touched)">Input should match 'a-zA-Z0-9' and 6-10 length</div>
            </div>
            <div class="form-group">
              <label>Confirm new password</label>
              <div class="input-group with-focus">
              <input class="form-control" type="password" name="confirmpassword" placeholder="Password" formControlName="confirmpassword" [formControl]="passForm.get('confirmpassword')" />
              </div>
                <div class="text-danger" *ngIf="passForm.get('confirmpassword').hasError('required') && (passForm.get('confirmpassword').dirty || passForm.get('confirmpassword').touched)">This field is required</div>
              <div class="text-danger" *ngIf="passForm.get('confirmpassword').hasError('equalTo')">Password does Not match</div>
            </div>
          </div>
          <button class="btn btn-sm btn-secondary" type="submit">Save</button>
        </form>
      </div>
    </div>
    <!-- END card-->
  </div>
</div>
