<div class="row">
<div class="col-xl-6 mb-5">
    <h3 class="page-header mt-0">Logs</h3>
  <div class="table-wrapper-scroll-y">
      <!-- START table-responsive-->
        <table class="table table-striped table-bordered" >
          <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Direction</th>
            <!--<th>Image</th>-->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let log of logs;">
            <td>{{log.id}}</td>
            <td>{{log.createdAt}}</td>

            <td *ngIf="log.direction == 'is_closing'"> {{'Closed'}}</td>
            <td *ngIf="log.direction == 'is_opening'"> {{'Opened'}}</td>
            <!-- <td>{{log.imagePath}}</td>-->
          </tr>
          </tbody>
        </table>
      <!-- END table-responsive-->
  </div>
</div>

  <div class="col-xl-6">
    <h3 class="page-header mt-0">Security Pictures</h3>
  <carousel [interval]="myInterval" [noWrap]="false">
    <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
      <img [src]="slidez.image" class="img-fluid">
      <div class="carousel-caption">
      </div>
    </slide>
  </carousel>
</div>

</div>
<div class="row">

  <div class="card card-default col-xl-4">
    <br>
    <br>
    <h3 class="page-header mt-0">Security Settings</h3>


  <div class="d-flex align-items-center mb-3">
    <div>Activate alarm:</div>
    <div class="ml-auto">
      <span *ngIf="user.alarm" class="circle bg-success circle-lg text-left"></span>
      <span *ngIf="!user.alarm" class="circle bg-danger circle-lg text-left"></span>
    </div>
  </div>



  <div class="d-flex align-items-center mb-3">
    <div>Activate email alert:</div>
    <div class="ml-auto">
      <span *ngIf="user.emailAlert" class="circle bg-success circle-lg text-left"></span>
      <span *ngIf="!user.emailAlert" class="circle bg-danger circle-lg text-left"></span>
    </div>
  </div>

  <div class="d-flex align-items-center mb-3">
    <div> Activate images capture: </div>
    <div class="ml-auto">
      <span *ngIf="user.imagesCapture" class="circle bg-success circle-lg text-left"></span>
      <span *ngIf="!user.imagesCapture" class="circle bg-danger circle-lg text-left"></span>
    </div>
  </div>
  <div class="d-flex align-items-center mb-3">
    Time before alarm activation:
    <div class="ml-auto">
      {{ user.alarmDelay }} seconds
    </div>
  </div>

    </div>


</div>


