
<h1>Picture List</h1>


<div class="table-responsive">
  <table class="table table-bordered table-hover" id="table-ext-1">
    <thead>
    <tr>
      <th>Picture</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let image of _album; let i=index">
      <td>
        <div class="media">
          <img [src]="image.thumb" (click)="open(i)"/>
        </div>
      </td>
      <td>{{image.timestamp}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- END table-responsive-->
<div class="card-footer">
  <div class="d-flex">
    <div>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search" />
        <div class="input-group-append">
          <button class="btn btn-secondary" type="Search">Button</button>
        </div>
      </div>
    </div>
    <div class="ml-auto">
      <div class="input-group float-right">
        <select class="custom-select" id="inputGroupSelect04">
          <option value="0">Bulk action</option>
          <option value="1">Delete</option>
          <option value="2">Clone</option>
          <option value="3">Export</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
